# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment variables
.env

# Virtual environments
venv/
env/

# Logs and temp files
*.log
*.tmp

# Ignore the entire instance folder
instance/


# Editor settings
.vscode/
.idea/


